<div class="card">
  <div class="card-body">
    <h1>About the Movies App</h1>
    <p>
      This app has been developed using NodeJS, MongoDB and Express.
      You can see the source code at <a href="https://github.com/">Github</a>

    </p>
  </div>
</div>