<div class="card">
  <div class="card-body">
    <h1>About the Movies App</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus tenetur perspiciatis recusandae. Non laudantium ipsam nulla itaque quasi placeat quibusdam debitis architecto. Dolores labore aliquid dignissimos. Officia ullam quaerat atque qui sapiente obcaecati consectetur, distinctio quis esse sint tenetur tempore.</p>
  </div>
</div>