<div class="bg-light p-5 rounded-lg m-3">
  <h1 class= "display-4"> Movies App</h1>
  <p class = "lead">Developed  with NodeJS, MongoDB and Express.</p>
  <hr class = "my-4">
  <p>
    This app lets you perform CRUD (create, read, update and delete )operations over a list of movies
    as also as their classification. The application is based upon an API REST that stores and retrieves
    its information from a database hosted in the Atlas Cloud System. 
  </p>
  <a href="/movies" class= "btn btn-success btn-lg">See the list of movies</a>
</div>