<div class="jumbotron mt-4">
  <h1 class= "display-4"> Movies App NodeJS & MongoDB</h1>
  <p class = "lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <hr class = "my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo nihil iusto incidunt et expedita placeat eveniet dolorem? Repellat iste dignissimos tempore deleniti officia quidem accusantium perspiciatis, odio delectus provident obcaecati!</p>
  <a href="https://www.carlossantamaria.co" class= "btn btn-success btn-lg">Carlos Santamaria</a>
</div>